@CHARSET "ISO-8859-1";

body {
	background: lightgray;
	font: 15px arial, sans-serif;
}


#outer_search_div {
	height: 600px;
	text-align:center;
	vertical-align:middle;
/* 	border: 2px solid red; */
/* 	display:table-cell; */
}

#inner_search_div {
	text-align:center;
	vertical-align:middle;
	border: 3px solid lightgray;
	display:inline-block;
	margin-top: 200px;
	
}

#inner_inner_search_div {
	padding:5px;
	
}

#header {
	background: lightgray;
	text-align:center;
}

#content {
	padding: 5px;
	background: white;
	border: 3px solid lightgray;
	text-align:center;
/* 	border: 2px solid orange; */

	
}
#profile_history{
	/* height: 600px; */
}
#count_history{
	height: 350px;
}

.top_three {
	background: white;
	border: none;
}

.content_table{
	height:100%;
	width:100%;
}

.content_div{
	border: 3px solid lightgray;
/* 	margin: 5px; */
	height:100%;
	text-align:center;
}

.section_title{
	background: lightgray;
	color: white;
	font: 15px arial black, sans-serif;
	text-align:center;
	vertical-align:middle;
	width: 100%;
	height: 25px;
}

.inner_div{
	
/* 	background: white; */
	border:none;
	padding: 5px;
/* 	opacity: 0.4; */
}

.profile_td{
	width: 500px;
}

.even_td{
	width: 50%;
}

.third_td{
	width: 33%;
}


#search_button
{
	background: lightgray;
	color: white;
	font: 15px arial black, sans-serif;
	border:none;
	height:25px;
}

#search_bar
{
	height:20px;
}

.profile_image
{
	height:auto; 
	width:auto; 
	max-width:200px; 
	max-height:200px;
	border:3px solid black;
}

.info_table
{
	width: 100%;
	text-align: left;
	border-spacing: 0px 5px;
/*     border-collapse: separate; */
}

.info_table tr
{
/* 	background:lightgray; */

}

.info_table td
{
	border:none;
}

.info_td
{
	width:50%;
	text-align: right;
	padding-right:10px;
	font-weight: bold;
}


.item_list
{
	text-align:center;
}

.hidden
{
	visibility:hidden;
	position:absolute;
}

.item_list table, .graph_mode table
{
 	max-width:100%; 
	margin: 0 auto;
}

.item_list table th, .item_list table tfoot tr
{
	background: gray;
 	border:3px solid gray; 
	font-weight:bold;
}

.item_list thead td
{
	background: lightgray;
	font-weight: bold;
}

.item_list table th.headerSortUp
{
	border-top:3px solid cyan;
} 

.item_list table th.headerSortDown
{
	border-bottom:3px solid red;
} 

.item_list table td
{
/* 	border: 3px solid black; */
	border-spacing: 0px 5px;
	
	
}

.item_list table tr:hover
{
	background:lightgray;
}

#list_choice
{
	color:white;
	font: 15px arial black, sans-serif;
	display:inline-block;
	border:none;
	border-spacing: 0px 0px;
	border-collapse: collapse;
}



#list_choice td
{
	text-align:center;
	vertical-align:middle;
	width: 150px;
	height:25px;
	border:none;
	padding:0px;
	border-left:3px solid white;
	border-right:3px solid white;
}

.selected
{
	background: white;	
	color: lightgrey;
}

.unselected
{
	background: lightgray;
}

.legend rect {
  fill:white;
  stroke:black;
  opacity:0.8;}
